=begin
#DVC AMS API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

OpenAPI spec version: 2.0.0_alpha1
Contact: marco.storto@tecniplast.it
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 3.0.0

=end

require 'uri'

module OpenapiClient
  class CagesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # This path identifies the operation of searching for one or more cage
    # Use one or more of the following parameter in the query to filter the result. If no parameter is given then all the cages known to the DVC that have been prepared, but not yet dismissed are returned
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ams_protocol_id Filters all cages assigned to the specified protocol
    # @option opts [String] :ams_researcher_id Filters all cages belonging to the specified researcher
    # @option opts [String] :ams_mouse_id Find the cage with the specified mouse
    # @option opts [String] :ams_rack_id Find all the cages in this rack
    # @option opts [String] :ams_room_id Find all the cages in this room
    # @return [CagesList]
    def get_cages(opts = {})
      data, _status_code, _headers = get_cages_with_http_info(opts)
      data
    end

    # This path identifies the operation of searching for one or more cage
    # Use one or more of the following parameter in the query to filter the result. If no parameter is given then all the cages known to the DVC that have been prepared, but not yet dismissed are returned
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ams_protocol_id Filters all cages assigned to the specified protocol
    # @option opts [String] :ams_researcher_id Filters all cages belonging to the specified researcher
    # @option opts [String] :ams_mouse_id Find the cage with the specified mouse
    # @option opts [String] :ams_rack_id Find all the cages in this rack
    # @option opts [String] :ams_room_id Find all the cages in this room
    # @return [Array<(CagesList, Fixnum, Hash)>] CagesList data, response status code and response headers
    def get_cages_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CagesApi.get_cages ...'
      end
      # resource path
      local_var_path = '/inventory/cages'

      # query parameters
      query_params = {}
      query_params[:'AmsProtocolId'] = opts[:'ams_protocol_id'] if !opts[:'ams_protocol_id'].nil?
      query_params[:'AmsResearcherId'] = opts[:'ams_researcher_id'] if !opts[:'ams_researcher_id'].nil?
      query_params[:'AmsMouseId'] = opts[:'ams_mouse_id'] if !opts[:'ams_mouse_id'].nil?
      query_params[:'AmsRackId'] = opts[:'ams_rack_id'] if !opts[:'ams_rack_id'].nil?
      query_params[:'AmsRoomId'] = opts[:'ams_room_id'] if !opts[:'ams_room_id'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'CagesList')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CagesApi#get_cages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Using the DELETE method you can force the dismiss of a cage
    # @param ams_cage_id id of cage to modify
    # @param [Hash] opts the optional parameters
    # @option opts [String] :user id of the user performing the change
    # @return [nil]
    def inventory_cages_ams_cage_id_delete(ams_cage_id, opts = {})
      inventory_cages_ams_cage_id_delete_with_http_info(ams_cage_id, opts)
      nil
    end

    # Using the DELETE method you can force the dismiss of a cage
    # @param ams_cage_id id of cage to modify
    # @param [Hash] opts the optional parameters
    # @option opts [String] :user id of the user performing the change
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def inventory_cages_ams_cage_id_delete_with_http_info(ams_cage_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CagesApi.inventory_cages_ams_cage_id_delete ...'
      end
      # verify the required parameter 'ams_cage_id' is set
      if @api_client.config.client_side_validation && ams_cage_id.nil?
        fail ArgumentError, "Missing the required parameter 'ams_cage_id' when calling CagesApi.inventory_cages_ams_cage_id_delete"
      end
      # resource path
      local_var_path = '/inventory/cages/{AmsCageId}'.sub('{' + 'AmsCageId' + '}', ams_cage_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'user'] = opts[:'user'] if !opts[:'user'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CagesApi#inventory_cages_ams_cage_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This path allows the caller to change the data about exactly one cage.
    # @param ams_cage_id id of cage to modify
    # @param [Hash] opts the optional parameters
    # @option opts [String] :user id of the user performing the change
    # @option opts [CageLabel] :cage_label 
    # @return [nil]
    def inventory_cages_ams_cage_id_put(ams_cage_id, opts = {})
      inventory_cages_ams_cage_id_put_with_http_info(ams_cage_id, opts)
      nil
    end

    # This path allows the caller to change the data about exactly one cage.
    # @param ams_cage_id id of cage to modify
    # @param [Hash] opts the optional parameters
    # @option opts [String] :user id of the user performing the change
    # @option opts [CageLabel] :cage_label 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def inventory_cages_ams_cage_id_put_with_http_info(ams_cage_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CagesApi.inventory_cages_ams_cage_id_put ...'
      end
      # verify the required parameter 'ams_cage_id' is set
      if @api_client.config.client_side_validation && ams_cage_id.nil?
        fail ArgumentError, "Missing the required parameter 'ams_cage_id' when calling CagesApi.inventory_cages_ams_cage_id_put"
      end
      # resource path
      local_var_path = '/inventory/cages/{AmsCageId}'.sub('{' + 'AmsCageId' + '}', ams_cage_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'user'] = opts[:'user'] if !opts[:'user'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'cage_label'])
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CagesApi#inventory_cages_ams_cage_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # By posting on this endpoint you may force the creation of a cage in the DVC system without requiring any operator action.
    # @param [Hash] opts the optional parameters
    # @option opts [NewCage] :new_cage 
    # @return [nil]
    def inventory_cages_post(opts = {})
      inventory_cages_post_with_http_info(opts)
      nil
    end

    # By posting on this endpoint you may force the creation of a cage in the DVC system without requiring any operator action.
    # @param [Hash] opts the optional parameters
    # @option opts [NewCage] :new_cage 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def inventory_cages_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CagesApi.inventory_cages_post ...'
      end
      # resource path
      local_var_path = '/inventory/cages'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'new_cage'])
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CagesApi#inventory_cages_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
