=begin
#DVC AMS API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

OpenAPI spec version: 2.0.0
Contact: marco.storto@tecniplast.it
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 3.0.0

=end

require 'uri'

module Tecniplast
  class BeddingChangeApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # report change of full cage (top+bottom)
    # @param ams_cage_id id of cage to modify
    # @param user username of the user performing the change
    # @param [Hash] opts the optional parameters
    # @option opts [BeddingChangeFullRequest] :bedding_change_full_request 
    # @return [nil]
    def inventory_cages_ams_cage_id_bedding_change_full_post(ams_cage_id, user, opts = {})
      inventory_cages_ams_cage_id_bedding_change_full_post_with_http_info(ams_cage_id, user, opts)
      nil
    end

    # report change of full cage (top+bottom)
    # @param ams_cage_id id of cage to modify
    # @param user username of the user performing the change
    # @param [Hash] opts the optional parameters
    # @option opts [BeddingChangeFullRequest] :bedding_change_full_request 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def inventory_cages_ams_cage_id_bedding_change_full_post_with_http_info(ams_cage_id, user, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BeddingChangeApi.inventory_cages_ams_cage_id_bedding_change_full_post ...'
      end
      # verify the required parameter 'ams_cage_id' is set
      if @api_client.config.client_side_validation && ams_cage_id.nil?
        fail ArgumentError, "Missing the required parameter 'ams_cage_id' when calling BeddingChangeApi.inventory_cages_ams_cage_id_bedding_change_full_post"
      end
      # verify the required parameter 'user' is set
      if @api_client.config.client_side_validation && user.nil?
        fail ArgumentError, "Missing the required parameter 'user' when calling BeddingChangeApi.inventory_cages_ams_cage_id_bedding_change_full_post"
      end
      # resource path
      local_var_path = '/inventory/cages/{AmsCageId}/beddingChangeFull'.sub('{' + 'AmsCageId' + '}', ams_cage_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'user'] = user

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'bedding_change_full_request'])
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BeddingChangeApi#inventory_cages_ams_cage_id_bedding_change_full_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # report change of bottom part only
    # @param ams_cage_id id of cage to modify
    # @param user username of the user performing the change
    # @param [Hash] opts the optional parameters
    # @option opts [BeddingChangePartialRequest] :bedding_change_partial_request 
    # @return [nil]
    def inventory_cages_ams_cage_id_bedding_change_partial_post(ams_cage_id, user, opts = {})
      inventory_cages_ams_cage_id_bedding_change_partial_post_with_http_info(ams_cage_id, user, opts)
      nil
    end

    # report change of bottom part only
    # @param ams_cage_id id of cage to modify
    # @param user username of the user performing the change
    # @param [Hash] opts the optional parameters
    # @option opts [BeddingChangePartialRequest] :bedding_change_partial_request 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def inventory_cages_ams_cage_id_bedding_change_partial_post_with_http_info(ams_cage_id, user, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BeddingChangeApi.inventory_cages_ams_cage_id_bedding_change_partial_post ...'
      end
      # verify the required parameter 'ams_cage_id' is set
      if @api_client.config.client_side_validation && ams_cage_id.nil?
        fail ArgumentError, "Missing the required parameter 'ams_cage_id' when calling BeddingChangeApi.inventory_cages_ams_cage_id_bedding_change_partial_post"
      end
      # verify the required parameter 'user' is set
      if @api_client.config.client_side_validation && user.nil?
        fail ArgumentError, "Missing the required parameter 'user' when calling BeddingChangeApi.inventory_cages_ams_cage_id_bedding_change_partial_post"
      end
      # resource path
      local_var_path = '/inventory/cages/{AmsCageId}/beddingChangePartial'.sub('{' + 'AmsCageId' + '}', ams_cage_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'user'] = user

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'bedding_change_partial_request'])
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BeddingChangeApi#inventory_cages_ams_cage_id_bedding_change_partial_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
